{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-header"><strong>Consulter</strong><span class="small ms-1">Voir mon emplois de temps - Cours par période</span></div>
        <div class="card-body">
          <div class="example">
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-640">
                <div class="row">
                  <div class="col">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h5 class="card-title">Visualisation d'emploi de temps</h5>
                        <form method="POST" action="#">
                          <label class="form-label" for="basic-url">Your vanity URL</label>
                          <div class="input-group mb-3">
                            <select class="form-select" aria-label="Default select example" required>
                              <option selected>Selectionner un departement</option>
                              <option value="Departement 1">Departement 1</option>
                              <option value="Departement 2">Departement 2</option>
                              <option value="Departement 3">Departement 3</option>
                            </select>
                          </div>
                          <div class="input-group mb-3">
                            <select class="form-select" aria-label="Default select example" required>
                              <option selected>Selectionner une filière</option>
                              <option value="Departement 1">Filière 1</option>
                              <option value="Departement 2">Filière 2</option>
                              <option value="Departement 3">Filière 3</option>
                            </select>
                          </div>
                          <div class="text-end">
                            <input type="submit" class="btn btn-success text-white" value="Voir">
                          </div>
                          <div class="input-group mb-3">
                            <p>Cette partie sera reservée à l'affichage des emplois de temps générés</p>
                          </div>
                        </form>                    
                      </div>
                    </div>
                  </div>
                 </div>
              </div>
              <div class="tab-pane pt-1" role="tabpanel" id="code-640">
                <script class="language-markup" type="text/plain">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="#">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="#">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
