{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <style>
    .r{
      float:right;
    }

    .l{
      float:left;
    }
  </style>
{% endblock stylesheets %}

<!-- {% block navigation %}
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-0 ms-2">
        <li class="breadcrumb-item">
          <span>Home</span>
        </li>
        <li class="breadcrumb-item active"><span>Dashboard</span></li>
      </ol>
    </nav>
  </div>
{% endblock %} -->

{% block content %}

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="card mb-4">
        <div class="card-header"><strong>Teachers</strong><span class="small ms-1">list of registered Teachers</span></div>
        <div class="card-body">
          <!-- * button add -->
          <a href="s_class.html" class="btn btn-primary text-white" type="button">
            <svg class="icon me-2">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-plus"></use>
            </svg>Add Teachers
          </a><br><br>

          <!-- * Cards of registration * -->
          <div class="row">
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>2<sup>nd</sup>C</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>2<sup>nd</sup>A</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>1<sup>er</sup>C</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>1<sup>er</sup>D</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>1<sup>er</sup>A</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>1<sup>er</sup>TI</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>Tle C</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>Tle D</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>Tle A</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                      <div class="l"><h5>Tle TI</h5></div>
                      <div class="r"><h6>Effectif:</h6>50</div>
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Courses</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Mathematiques</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                      <tr>
                        <th scope="row">Anglais</th>
                        <td>2h</td>
                        <td>Fanche Meponmoe Clyde</td>
                      </tr>
                      <tr>
                        <th scope="row">Informatique</th>
                        <td>2h</td>
                        <td>Prosipegoko Nsipanko Adrian</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary active text-white" type="button" aria-pressed="true">
                    <svg class="icon me-2">
                      <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                    </svg>Update
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
