
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
          <!-- <use xlink:href="/static/brand/coreui.svg#full"></use> -->
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
          <use xlink:href="/static/brand/coreui.svg#signet"></use>
        </svg>
        <center>
          <img class="w-25" src="/static/img/avatars/8.jpg" alt="user@email.com">
        </center>
        </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item"><a class="nav-link" href="index.html">
            <svg class="nav-icon">
              <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg> Menu<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
        <li class="nav-title">Components</li>
        <!--<li class="nav-item"><a class="nav-link" href="#">
          <svg class="nav-icon">
            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-building"></use>
          </svg> Departements</a></li>-->
        <li class="nav-item"><a class="nav-link" href="disciplines.html">
          <svg class="nav-icon">
            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen-alt"></use>
          </svg> Disciplines</a></li>
        <li class="nav-item"><a class="nav-link" href="enseignants.html">
          <svg class="nav-icon">
            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-education"></use>
          </svg> Teachers</a></li>
        <li class="nav-item"><a class="nav-link" href="classes.html">
          <svg class="nav-icon">
            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-institution"></use>
          </svg> Classes</a></li>
        <li class="nav-item"><a class="nav-link" href="generer.html">
          <svg class="nav-icon">
            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-bolt"></use>
          </svg> Generate</a></li>
        <li class="nav-item"><a class="nav-link" href="consulter.html">
          <svg class="nav-icon">
            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-clipboard"></use>
          </svg> Check</a></li>
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    